@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'tailwindcss';

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* creates padding around scroll thumb */
  background-clip: content-box; /* ensures border creates padding */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.7); /* color of the scroll thumb on hover */
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent; /* thumb and track color */
}

body {
  font-family: 'Lato', sans-serif;
}
